#home
    padding 5rem
    height 100%
    width 100%
    position relative
    #fileInputId
        margin-top 2rem
    .upload-wrap
        margin-top 2rem
        progress
            margin-top 2rem
        progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            appearance: none
            width: 24.5rem
            height: 1.5rem
        }
        progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }
        .uploaded-info
            position relative
            textarea
                width 70rem

